#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}

/* Remove arrows from all number inputs across browsers */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Modern browsers */
}

/* Remove spinners in Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
